<h1>Log in</h1>
<form action="<%= session_url %>" method="post">
  <input type="hidden" 
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="employee_email">Email:</label>
  <input type="text" name="employee[email]" id="employee_email">
  <br>

  <input type="submit" value="Sign In">
</form>